<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-2">
            <mat-card appearance="outlined" style="background-color: #3B82F6; color: white;">
                <mat-card-header>
                    <mat-card-title align="start">                    
                        <i class="bi bi-people-fill"></i>
                        {{ custCount }}
                    </mat-card-title>
                    <mat-card-subtitle>Customers</mat-card-subtitle>
                </mat-card-header>
                <br>
            </mat-card>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2">
            <mat-card appearance="outlined" style="background-color: #10B981; color: white;">
                <mat-card-header>
                    <mat-card-title align="start">                    
                        <i class="bi bi-truck-front-fill"></i>
                        {{ suppCount }}
                    </mat-card-title>
                    <mat-card-subtitle>Suppliers</mat-card-subtitle>
                </mat-card-header>
                <br>
            </mat-card>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2">
            <mat-card appearance="outlined" style="background-color: #F59E0B;color: white; ">
                <mat-card-header>
                    <mat-card-title align="start">                    
                        <i class="bi bi-building-gear"></i>
                        {{ busiCount }}
                    </mat-card-title>
                    <mat-card-subtitle>Business Centres</mat-card-subtitle>
                </mat-card-header>
                <br>
            </mat-card>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2">
            <mat-card appearance="outlined" style="background-color:#6366F1; color: white;">
                <mat-card-header>
                    <mat-card-title align="start">                    
                        <i class="bi bi-file-person-fill"></i>
                        {{ emplCount }}
                    </mat-card-title>
                    <mat-card-subtitle>Employees</mat-card-subtitle>
                </mat-card-header>
                <br>
            </mat-card>
        </div>    
        <div class="col-12 col-sm-6 col-md-4 col-lg-2">
            <mat-card appearance="outlined" style="background-color:#06B6D4; color: white;">
                <mat-card-header>
                    <mat-card-title align="start">                    
                        <i class="bi bi-backpack-fill"></i>
                        {{ stckCount }}
                    </mat-card-title>
                    <mat-card-subtitle>Stock in Stores</mat-card-subtitle>
                </mat-card-header>
                <br>
            </mat-card>
        </div>   
        <div class="col-12 col-sm-6 col-md-4 col-lg-2">
            <mat-card appearance="outlined" style="background-color:#EF4444; color: white;">
                <mat-card-header>
                    <mat-card-title align="start">                    
                        <i class="bi bi-tools"></i>
                        {{ jobsCount }}
                    </mat-card-title>
                    <mat-card-subtitle>Jobs</mat-card-subtitle>
                </mat-card-header>
                <br>
            </mat-card>
        </div>     
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-subtitle>Monthwise Orders (BHD)</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <ngx-charts-line-chart
                    [results]="monthwiseSalesdata"
                    [xAxis]="true"
                    [yAxis]="true"
                    [legend]="true"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [xAxisLabel]="'Month'"
                    [yAxisLabel]="'Booking (BHD)'"
                    [autoScale]="false"
                    [animations]="true"
                    [timeline]="false">
                    </ngx-charts-line-chart>
                </mat-card-content>
            </mat-card>  
        </div>
    </div>
    <br>
    
    <br>
    <div class="row">
        <!-- FAST MOVERS -->
        <div class="col-6">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-subtitle>Top 10 Fast-Moving Categories</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-tab-group (selectedTabChange)="onTabChange($event, 'fast')">
                        <mat-tab label="1 Month"></mat-tab>
                        <mat-tab label="3 Months"></mat-tab>
                        <mat-tab label="6 Months"></mat-tab>
                        <mat-tab label="12 Months"></mat-tab>
                    </mat-tab-group>
                    
                    <table class="table table-sm mt-2">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Category</th>
                                <th>Quantity Sold</th>
                                <th class="text-end">Sales</th>
                            </tr>
                        </thead>
                        <!--<tbody>
                            <tr *ngFor="let brand of displayFastBrands; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ brand.BRAND }}</td>
                                <td>{{ brand.QTY }}</td>
                                <td class="text-end">{{ brand.SALE | number:'1.0-3' }}</td>
                            </tr>
                        </tbody>-->
                    </table>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- SLOW MOVERS -->
        <div class="col-6">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-subtitle>Top 10 Slow-Moving Categories</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-tab-group (selectedTabChange)="onTabChange($event, 'slow')">
                        <mat-tab label="1 Month"></mat-tab>
                        <mat-tab label="3 Months"></mat-tab>
                        <mat-tab label="6 Months"></mat-tab>
                        <mat-tab label="12 Months"></mat-tab>
                    </mat-tab-group>
                    
                    <table class="table table-sm mt-2">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Category</th>
                                <th>Quantity Sold</th>
                                <th class="text-end">Sales</th>
                            </tr>
                        </thead>
                       <!--- <tbody>
                            <tr *ngFor="let brand of displaySlowBrands; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ brand.BRAND }}</td>
                                <td>{{ brand.QTY }}</td>
                                <td class="text-end">{{ brand.SALE | number:'1.0-3' }}</td>
                            </tr>
                        </tbody>-->
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-4">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-subtitle>Top 10 Businesses (B2B) [Past 12 Months]</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <table class="table table-sm">
                        <thead>
                            <th></th>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>      
        </div>
        <div class="col-4">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-subtitle>Top 10 Customers (B2C) [Past 12 Months]</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <table class="table table-sm">
                        <thead>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody>
                            <!--<tr *ngFor="let business of topCustList; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>
                                    {{ business.CUSTOMERID }}
                                </td>
                                <td>
                                    {{ business.CUSTOMERNAME }}
                                </td>
                                <td class="text-end">
                                    {{ business.TotalValue_BHD | currency:'BHD' }}
                                </td>
                            </tr>-->
                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>      
        </div>
        <div class="col-4">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-subtitle>Top 10 Suppliers [Past 12 Months]</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <table class="table table-sm">
                        <thead>
                            <th></th>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>      
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-subtitle>Top 10 Products/Services [Past 12 Months]</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <table class="table table-sm">
                        <thead>
                            <th></th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Value</th>
                        </thead>
                        <tbody>
                            <!--<tr *ngFor="let product of topProdList; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>
                                    {{ product.productName }}
                                </td>
                                <td>
                                    {{ product.productCategoryName }}
                                </td>
                                <td class="text-end">
                                    {{ product.TotalValue_BHD | currency:'BHD' }}
                                </td>
                            </tr>-->
                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>      
        </div>
        <div class="col-6">
            <mat-card appearance="outlined" class="pie-card">
                <mat-card-header>
                    <mat-card-subtitle>Business Centre Revenue (BHD) [Past 12 Months]</mat-card-subtitle>
                </mat-card-header>
                <!--<mat-card-content class="pie-card-content">
                    <div class="chart-wrapper">
                        <ngx-charts-pie-chart
                        [results]="topLocaList"
                        [legend]="true"
                        [legendPosition]="legendPosition"
                        [labels]="false"
                        [doughnut]="false"
                        [explodeSlices]="false">
                    </ngx-charts-pie-chart>
                </div>
            </mat-card-content>-->
        </mat-card>
        </div>
    </div>
    <br>
   
    <div class="row">
        <div class="col-12"></div>
    </div>
</div>



