<div class="row no-gutters container-fluid">
    <div class="col-md-7 col-lg-6 col-sm-12 signin-page">
        <h1 class="page-title">Yateem Air Conditioning W.L.L.</h1>
        <h2>Management ERP Portal</h2>
        <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
        <form class="signin-form" [formGroup]="signinForm" (ngSubmit)="onSignin()"  style="width: 75%;">
            <div class="form-group">
                <label for="username" style="padding-bottom: 10px;">Username</label>
                <input type="text" class="form-control" id="username" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" >
                <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                    <div *ngIf="f['username'].errors['required']">Username is required</div>
                </div>
            </div>
            <div class="form-group">
              <label for="password" style="padding-bottom: 10px;">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" (key.enter)="onSignin()">
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Password is required</div>
              </div>
            </div>
            <div>
              <a class="link-text" [routerLink]="['/authentication/forgot-password']">Forgot password?</a>
              <button class="sign-in-btn" type="submit" (click)="onSignin()">Sign In</button>
            </div>
            <hr>
            <!--<div class="sign-up">
              <p style="color: gray;">Haven't registered to the Portal yet?</p>
              <a class="link-text" [routerLink]="['/authentication/signup']">Sign up here!</a>
            </div>-->
        </form> 
    </div>
    <div class="col-md-5 col-lg-6 d-none d-md-block">
        <!-- Custom Carousel -->
        <div class="carousel-container">
            <div *ngFor="let image of images; let i = index" class="carousel-item" [ngClass]="{'active': i === currentImageIndex}">
                <img [src]="image.src" class="d-block w-100" [alt]="'Image ' + (i+1)">
            </div>
            <!-- Controls
            <button class="carousel-control-prev" (click)="prevImage()">Prev</button>
            <button class="carousel-control-next" (click)="nextImage()">Next</button>
            -->
        </div>
    </div>
</div>
