<div class="container-fluid">
    <div class="row no-gutters">
        <div class="visualization-heading col-12">
            <div class="heading-info">
                <div class="row">
                    <div class="col-9">                
                        <h3 class="heading-title">Supplier Master</h3>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col">
                                <button class="btn-primary text-white btn btn-block btn-sm"  title="New Supplier" style="float: right" (click)="goToDetailForm('new','Supplier')">
                                    <mat-icon>add</mat-icon> <!--New Supplier-->
                                </button>
                            </div>
                            <div class="col">
                                <button class="btn-danger text-white btn btn-block btn-sm"  title="Search Supplier" style="float: right" (click)="searchSupplier()">
                                    <mat-icon>search</mat-icon> <!--Search Supplier-->
                                </button>
                            </div>
                            <div class="col">
                                <button class="btn-info text-white btn btn-block btn-sm"  title="Print Supplier Statement of Account" style="float: right" (click)="getSupplierSoa()">
                                    <mat-icon>print</mat-icon> <!--Print Supplier Statement of Account-->
                                </button>
                            </div>
                            <!--<div class="col">
                                <button class="btn-dark text-white btn btn-block btn-sm"  title="Copy to Contact" style="float: right" (click)="copyToContact()">
                                    <mat-icon>play_for_work</mat-icon> Copy to Contact
                                </button>
                            </div>-->
                            <!--<div class="col">
                                <button class="btn-success text-white btn btn-block btn-sm"  title="Submit Supplier" style="float: right"  (click)="submitForm()">
                                    <mat-icon>note_add</mat-icon>  Submit Supplier ['/receivables/Supplier-master']
                                </button>
                            </div>-->
                            <div class="col">
                                <button class="btn-warning text-white btn btn-block btn-sm" [routerLink]="['/finance/general-ledger']" title="Return to Supplier List" style="float: right">
                                    <mat-icon>arrow_back</mat-icon> <!--Return to List-->
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <div class="mb-3">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search Suppliers..." />
                        </div>
                        <table class="table table-hover table-responsive-xxl">
                            <thead class="table-dark">
                                <tr class="table-reflow">
                                    <th>PCODE</th>
                                    <th>SUPPLIER NAME</th>
                                    <th>COUNTRY</th>                                    
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let supp of (SupplierList | filterTable:searchText| slice:0:5); let i = index;">
                                    <td>{{ supp.PCODE }}</td>
                                    <td>{{ supp.CUST_NAME }}</td>
                                    <td>{{ supp.Country }}</td>
                                    <td>
                                        <button class="btn btn-sm btn-secondary" (click)="goToDetailForm(supp.PCODE, 'Supplier')" title="View Supplier Details">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-8">
                        <form [formGroup]="suppForm" class="form-container">
                            <div class="row">
                                <div class="col-2">
                                    <mat-label >Supplier Code </mat-label>
                                    <input  matInput class="form-control form-control-sm" #pcode formControlName="pcode" readonly >
                                </div>
                                <div class="col-8">
                                    <mat-label >Name</mat-label>
                                    <input formControlName="suppName"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col-2">
                                    <mat-label >Active</mat-label>
                                    <mat-select class="form-control form-control-sm" formControlName="suppStatus" readonly>
                                        <mat-option value="A">True</mat-option>
                                        <mat-option value="I">False</mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <mat-label>Divison</mat-label>
                                    <input formControlName="division"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col-3">
                                    <mat-label>Sales Category</mat-label>
                                    <input formControlName="salesCat"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col-3">
                                    <mat-label>Organisation</mat-label>
                                    <input formControlName="organisation"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col-3">
                                    <mat-label>Industry</mat-label>
                                    <input formControlName="industry"  matInput class="form-control form-control-sm" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <mat-label>Tax Number</mat-label>
                                    <input formControlName="suppTaxNo"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col">
                                    <mat-label>National ID</mat-label>
                                    <input formControlName="suppCR"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col">
                                    <mat-label>Branch</mat-label>
                                    <input formControlName="suppBranch"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col">
                                    <mat-label>Account Type</mat-label>
                                    <input formControlName="suppAccountType"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col">
                                    <mat-label>Account Category</mat-label>
                                    <input formControlName="suppAccountCategory"  matInput class="form-control form-control-sm" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <mat-label>Phone 1</mat-label>
                                    <input formControlName="suppPhone1"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col-3">
                                    <mat-label>Phone 2</mat-label>
                                    <input formControlName="suppPhone2"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col-3">
                                    <mat-label>Mobile</mat-label>
                                    <input formControlName="mobile"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col-3">
                                    <mat-label>Email</mat-label>
                                    <input formControlName="suppEmail"  matInput class="form-control form-control-sm" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <mat-label>Address Line 1</mat-label>
                                    <input formControlName="suppAdd1"  matInput class="form-control form-control-sm">
                                </div>
                                <div class="col-4">
                                    <mat-label>Address Line 2</mat-label>
                                    <input formControlName="suppAdd2"  matInput class="form-control form-control-sm">
                                </div>
                                <div class="col-4">
                                    <mat-label>Address Line 3</mat-label>
                                    <input formControlName="suppAdd3"  matInput class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <mat-label>Opening Balance (KWD)</mat-label>
                                    <input formControlName="opbal" matInput class="form-control form-control-sm">                                
                                </div>
                                <div class="col-8">
                                    <mat-label>Remarks</mat-label>
                                    <input formControlName="remarks"  matInput class="form-control form-control-sm">
                                </div>
                            </div>
                            <hr>
                            <!--<mat-tab-group>
                                <mat-tab label="Contact Details">
                                    <br>
                                    <table class="table table-hover table-responsive-xxl" formArrayName="contacts">
                                        <thead style="background-color: rgb(0, 0, 0) !important; color: white;">
                                            <tr class="table-reflow" >
                                                <th style="width: 15%;">
                                                    Contact ID
                                                </th>
                                                <th style="width: 25%;">
                                                    Contact Name
                                                </th>
                                                <th style="width: 11%;">
                                                    Address Line 1
                                                </th>
                                                <th style="width: 11%;">
                                                    Address Line 2
                                                </th>
                                                <th style="width: 11%;">
                                                    Address Line 3
                                                </th>
                                                <th style="width: 11%;">
                                                    Mobile
                                                </th>
                                                <th style="width: 11%;">
                                                    Email
                                                </th>
                                                <th style="width: 5%;"> </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr #depMem *ngFor="let con of contacts.controls; let i = index;" [formGroupName]="i">
                                                <td>
                                                    <input #partyid class="form-control form-control-sm" type="text" formControlName="contactId" readonly>
                                                </td>
                                                <td>
                                                    <input class="form-control form-control-sm" type="text" formControlName="contactPerson" readonly>
                                                </td>
                                                <td>
                                                    <input class="form-control form-control-sm" type="text" formControlName="contactAddress1" readonly>
                                                </td>
                                                <td>
                                                    <input class="form-control form-control-sm" type="text" formControlName="contactAddress2" readonly>
                                                </td>
                                                <td>
                                                    <input class="form-control form-control-sm" type="text" formControlName="contactAddress3" readonly>
                                                </td>
                                                <td>
                                                    <input class="form-control form-control-sm" type="text" formControlName="contactMobile" readonly>
                                                </td>
                                                <td>
                                                    <input class="form-control form-control-sm" type="text" formControlName="contactEmail" readonly>
                                                </td>
                                                <td>
                                                    <button class="btn btn-danger" type="button" (click)="deleteContact(i)"> &#10005; </button>
                                                    <button mat-raised-button class="bg-warning text-white btn btn-block" (click)="goToDetailForm(partyid.value,'contact')">
                                                        <mat-icon>arrow_forward</mat-icon>                                            
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button class="btn btn-success" type="button" (click)="addContact()"> &#43; </button>
                                </mat-tab>
                            </mat-tab-group>-->
                        </form>
                    </div>
                </div> 
            </div>
        </div>
    </div>   
</div>
<br>

<ng-template #SupplierLookupDialog >
    <h3 matDialogTitle>
        <b>Search Supplier</b>
    </h3>
    <hr>
    <!-- Search Bar -->
    <div class="row d-flex align-items-center">
        <div class="col-auto">
            <mat-icon>search</mat-icon>
        </div>
        <div class="col">
            <input type="text" style="color: black;" 
                   placeholder="Enter search keyword..." 
                   class="form-control form-control-sm" 
                   #search 
                   (keyup)="quickSupplierSearch(search.value)">
        </div>
    </div>
    <div mat-dialog-content>
        <!-- Table -->
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>PCODE</th>
                    <th>SUPPLIER NAME</th>
                    <th>MOBILE</th>
                    <th>EMAIL</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let supp of SupplierSearchList; let i = index;">
                    <td>{{supp.PCODE}}</td>
                    <td>{{supp.CUST_NAME}}</td>
                    <td>{{supp.MOBILE}}</td>
                    <td>{{supp.EMAIL}}</td>
                    <td>
                        <button mat-raised-button class="bg-warning text-white btn btn-block" (click)="goToDetailForm(supp.PCODE,'Supplier')">
                            <mat-icon>arrow_forward</mat-icon>                                            
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <br>
</ng-template>

<ng-template #soaLookupDialog>
    <h3 matDialogTitle>
        <b>Statement of Account Preview</b>
    </h3>
    <hr>
    <div mat-dialog-content style="font-size: small;">
        <table class="table table-striped table-sm table-bordered" id="soaTable">
            <thead>
                <tr>
                    <th>Invoice Date</th>
                    <th>Invoice No</th>
                    <th>Reference</th>
                    <th>Description</th>
                    <th>Due Date</th>
                    <!--<th>Amount</th>-->
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Balance</th>
                    <!--<th>Overdue days</th>-->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of soaData">
                    <td>{{ row.INV_DATE | date:'dd-MM-yyyy' }}</td>
                    <td>{{ row.INV_NO }}</td>
                    <td>{{ row.INV_NO === row.REMARKS ? '' : row.REMARKS }}</td>
                    <td>{{ row.DESCRIPTION }}</td>
                    <td>{{ row.DUEDATE | date:'dd-MM-yyyy' }}</td>
                    <!--<td class="text-end">{{ row.AMOUNT | number:'1.3-3' }}</td>-->
                    <td class="text-end">{{ row.DEBIT | number:'1.3-3' }}</td>
                    <td class="text-end">{{ row.CREDIT | number:'1.3-3' }}</td>
                    <td class="text-end">
                        {{ row.BALANCE < 0 ? '(' + (row.BALANCE | abs | number:'1.3-3') + ')' : (row.BALANCE | number:'1.3-3') }}
                    </td>
                    <!--<td class="text-end">{{ (row.BALANCE | abs) | number:'1.3-3' }} {{ row.BALANCE > 0 ? '(D)' : '(C)' }}</td> -->
                    <!--<td class="text-end">{{ row.DAYS_DIFF === null ? '-' : row.DAYS_DIFF + (row.DAYS_DIFF > 0 ? ' overdue' : ' left') }}</td>   -->                 
                </tr>
            </tbody>
            <tfoot>
                <tr class="fw-bold text-end">
                    <td colspan="5" class="text-start">Total</td>
                    <td>{{ totalDebit | number:'1.3-3' }}</td>
                    <td>{{ totalCredit | number:'1.3-3' }}</td>
                    <td>
                        {{ (totalDebit-totalCredit) < 0 ? '-' : '' }}
                        {{ ((totalDebit-totalCredit) | number:'1.3-3') }} 
                        {{ (totalDebit-totalCredit) > 0 ? '(D)' : (totalDebit-totalCredit) < 0 ? '(C)' : '' }}
                    </td>
                </tr>
            </tfoot>
        </table>
        <br>
        <table id="ageingSummaryTable" class="table table-sm table-bordered">
            <thead>
                <tr class="table-primary">
                    <th colspan="6" class="text-start">Ageing Summary</th>
                </tr>
                <tr class="text-end table-secondary">
                    <th>Current</th>
                    <th>0 - 30 days</th>
                    <th>31 - 60 days</th>
                    <th>61 - 90 days</th>
                    <th>91 - 120 days</th>
                    <th>Above 120 days</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-end">
                    <td>{{ ageingSummary['CURRENT'] | number:'1.3-3' }}</td>
                    <td>{{ ageingSummary['30_DAYS'] | number:'1.3-3' }}</td>
                    <td>{{ ageingSummary['60_DAYS'] | number:'1.3-3' }}</td>
                    <td>{{ ageingSummary['90_DAYS'] | number:'1.3-3' }}</td>
                    <td>{{ ageingSummary['120_DAYS'] | number:'1.3-3' }}</td>
                    <td>{{ ageingSummary['ABOVE_120_DAYS'] | number:'1.3-3' }}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <table id="unallocPayTable" class="table table-sm table-bordered">
            <thead>
                <tr class="table-primary">
                    <th colspan="6" class="text-start">Unallocated Payments Summary</th>
                </tr>
                <tr class="text-end table-secondary">
                    <th>Future Remit</th>
                    <th>60 Days</th>
                    <th>120 Days</th>
                    <th>180 Days</th>
                    <th>365 Days</th>
                    <th>Above 365</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-end">
                    <td>{{ unallocPaySummary['FUTURE_REMIT'] | number:'1.3-3' }}</td>
                    <td>{{ unallocPaySummary['60_DAYS'] | number:'1.3-3' }}</td>
                    <td>{{ unallocPaySummary['120_DAYS'] | number:'1.3-3' }}</td>
                    <td>{{ unallocPaySummary['180_DAYS'] | number:'1.3-3' }}</td>
                    <td>{{ unallocPaySummary['365_DAYS'] | number:'1.3-3' }}</td>
                    <td>{{ unallocPaySummary['ABOVE_365_DAYS'] | number:'1.3-3' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="row container-fluid">
        <div class="col-8"></div>
        <!---- <div class="col-3">
            <button mat-raised-button class="bg-primary text-white btn btn-block" (click)="printCOA('S')" style="float: right" title="print">
                Print Statement Summary
            </button>
        </div>-->
        <div class="col-4">
            <button mat-raised-button class="bg-success text-white btn btn-block" (click)="printCOA()" style="float: right" title="print">
                Print Statement Summary
            </button>
        </div>
    </div>
    <br>
</ng-template>
