<div class="container-fluid">
    <div class="row no-gutters">
        <div class="visualization-heading col-12">
            <div class="heading-info">
                <div class="row">
                    <div class="col-10">                
                        <h3 class="heading-title">Supplier Master</h3>
                    </div>
                    <div class="col-2">
                        <div class="row">
                            <div class="col">
                                <button class="btn-danger text-white btn btn-block btn-sm"  title="Search Supplier" style="float: right" (click)="searchSupplier()">
                                    <mat-icon>search</mat-icon> <!--Search Supplier-->
                                </button>
                            </div>
                            <div class="col">
                                <button class="btn-info text-white btn btn-block btn-sm"  title="Print Supplier Statement of Account" style="float: right" (click)="getSupplierSoa()">
                                    <mat-icon>print</mat-icon> <!--Print Supplier Statement of Account-->
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <div class="mb-3">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search Suppliers..." />
                        </div>
                        <table class="table table-hover table-responsive-xxl">
                            <thead class="table-dark">
                                <tr class="table-reflow">
                                    <th>PCODE</th>
                                    <th>SUPPLIER NAME</th>
                                    <th>COUNTRY</th>                                    
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cust of (supplierList | filterTable:searchText| slice:0:5); let i = index;">
                                    <td>{{ cust.CardCode }}</td>
                                    <td>{{ cust.CardName }}</td>
                                    <td>{{ cust.Country }}</td>
                                    <td>
                                        <button class="btn btn-sm btn-secondary" (click)="goToDetailForm(cust.CardCode)" title="View Supplier Details">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-8">
                        <form [formGroup]="custForm" class="form-container">
                            <div class="row">
                                <div class="col-2">
                                    <mat-label >Supplier Code </mat-label>
                                    <input  matInput class="form-control form-control-sm" #pcode formControlName="pcode" readonly >
                                </div>
                                <div class="col-8">
                                    <mat-label >Name</mat-label>
                                    <input formControlName="custName"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col-2">
                                    <mat-label >Active</mat-label>
                                    <mat-select class="form-control form-control-sm" formControlName="custStatus" readonly>
                                        <mat-option value="Y">True</mat-option>
                                        <mat-option value="N">False</mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <mat-label>Divison</mat-label>
                                    <input formControlName="division"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col-3">
                                    <mat-label>Sales Category</mat-label>
                                    <input formControlName="salesCat"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col-3">
                                    <mat-label>Organisation</mat-label>
                                    <input formControlName="organisation"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col-3">
                                    <mat-label>Industry</mat-label>
                                    <input formControlName="industry"  matInput class="form-control form-control-sm" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <mat-label>Tax Number</mat-label>
                                    <input formControlName="custTaxNo"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col">
                                    <mat-label>National ID</mat-label>
                                    <input formControlName="custCR"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col">
                                    <mat-label>Branch</mat-label>
                                    <input formControlName="custBranch"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col">
                                    <mat-label>Account Type</mat-label>
                                    <input formControlName="custAccountType"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col">
                                    <mat-label>Account Category</mat-label>
                                    <input formControlName="custAccountCategory"  matInput class="form-control form-control-sm" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <mat-label>Phone 1</mat-label>
                                    <input formControlName="custPhone1"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col-3">
                                    <mat-label>Phone 2</mat-label>
                                    <input formControlName="custPhone2"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col-3">
                                    <mat-label>Mobile</mat-label>
                                    <input formControlName="mobile"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col-3">
                                    <mat-label>Email</mat-label>
                                    <input formControlName="custEmail"  matInput class="form-control form-control-sm" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <mat-label>Address Line 1</mat-label>
                                    <input formControlName="custAdd1"  matInput class="form-control form-control-sm">
                                </div>
                                <div class="col-4">
                                    <mat-label>Address Line 2</mat-label>
                                    <input formControlName="custAdd2"  matInput class="form-control form-control-sm">
                                </div>
                                <div class="col-4">
                                    <mat-label>Address Line 3</mat-label>
                                    <input formControlName="custAdd3"  matInput class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <mat-label>Opening Balance (KWD)</mat-label>
                                    <input formControlName="opbal" matInput class="form-control form-control-sm">                                
                                </div>
                                <div class="col-8">
                                    <mat-label>Remarks</mat-label>
                                    <input formControlName="remarks"  matInput class="form-control form-control-sm">
                                </div>
                            </div>
                            <hr>
                            <!--<mat-tab-group>
                                <mat-tab label="Contact Details">
                                    <br>
                                    <table class="table table-hover table-responsive-xxl" formArrayName="contacts">
                                        <thead style="background-color: rgb(0, 0, 0) !important; color: white;">
                                            <tr class="table-reflow" >
                                                <th style="width: 15%;">
                                                    Contact ID
                                                </th>
                                                <th style="width: 25%;">
                                                    Contact Name
                                                </th>
                                                <th style="width: 11%;">
                                                    Address Line 1
                                                </th>
                                                <th style="width: 11%;">
                                                    Address Line 2
                                                </th>
                                                <th style="width: 11%;">
                                                    Address Line 3
                                                </th>
                                                <th style="width: 11%;">
                                                    Mobile
                                                </th>
                                                <th style="width: 11%;">
                                                    Email
                                                </th>
                                                <th style="width: 5%;"> </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr #depMem *ngFor="let con of contacts.controls; let i = index;" [formGroupName]="i">
                                                <td>
                                                    <input #partyid class="form-control form-control-sm" type="text" formControlName="contactId" readonly>
                                                </td>
                                                <td>
                                                    <input class="form-control form-control-sm" type="text" formControlName="contactPerson" readonly>
                                                </td>
                                                <td>
                                                    <input class="form-control form-control-sm" type="text" formControlName="contactAddress1" readonly>
                                                </td>
                                                <td>
                                                    <input class="form-control form-control-sm" type="text" formControlName="contactAddress2" readonly>
                                                </td>
                                                <td>
                                                    <input class="form-control form-control-sm" type="text" formControlName="contactAddress3" readonly>
                                                </td>
                                                <td>
                                                    <input class="form-control form-control-sm" type="text" formControlName="contactMobile" readonly>
                                                </td>
                                                <td>
                                                    <input class="form-control form-control-sm" type="text" formControlName="contactEmail" readonly>
                                                </td>
                                                <td>
                                                    <button class="btn btn-danger" type="button" (click)="deleteContact(i)"> &#10005; </button>
                                                    <button mat-raised-button class="bg-warning text-white btn btn-block" (click)="goToDetailForm(partyid.value,'contact')">
                                                        <mat-icon>arrow_forward</mat-icon>                                            
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button class="btn btn-success" type="button" (click)="addContact()"> &#43; </button>
                                </mat-tab>
                            </mat-tab-group>-->
                        </form>
                    </div>
                </div> 
            </div>
        </div>
    </div>   
</div>
<br>

<ng-template #supplierLookupDialog >
    <h3 matDialogTitle>
        <b>Search Supplier</b>
    </h3>
    <hr>
    <!-- Search Bar -->
    <div class="row d-flex align-items-center">
        <div class="col-auto">
            <mat-icon>search</mat-icon>
        </div>
        <div class="col">
            <input type="text" style="color: black;" 
                   placeholder="Enter search keyword..." 
                   class="form-control form-control-sm" 
                   #search 
                   (keyup)="quickSupplierSearch(search.value)">
        </div>
    </div>
    <div mat-dialog-content>
        <!-- Table -->
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>PCODE</th>
                    <th>SUPPLIER NAME</th>
                    <th>MOBILE</th>
                    <th>EMAIL</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cust of SupplierSearchList; let i = index;">
                    <td>{{cust.CardCode}}</td>
                    <td>{{cust.CardName}}</td>
                    <td>{{cust.Phone1}}</td>
                    <td>{{cust.E_Mail}}</td>
                    <td>
                        <button mat-raised-button class="bg-warning text-white btn btn-block" (click)="goToDetailForm(cust.CardCode)">
                            <mat-icon>arrow_forward</mat-icon>                                            
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <br>
</ng-template>
<ng-template #soaLookupDialog>
  <h3 matDialogTitle><b>Statement of Account Preview</b></h3>
  <hr>
  <div mat-dialog-content style="font-size: small;">
        <!-- Ageing Summary -->
    <table id="ageingSummaryTable" class="table table-sm table-bordered">
      <thead>
        <tr class="table-primary">
          <th colspan="7" class="text-start">Ageing Summary</th>
        </tr>
        <tr class="text-end table-secondary">
          <th>Future Remit</th>
          <th>0-30 Days</th>
          <th>31-60 Days</th>
          <th>61-90 Days</th>
          <th>91-120 Days</th>
          <th>121-364 Days</th>
          <th>>1 Year</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-end">
          <td>{{ ageingSummary['FUTURE_REMIT'] | number:'1.3-3' }}</td>
          <td>{{ ageingSummary['0_30_DAYS'] | number:'1.3-3' }}</td>
          <td>{{ ageingSummary['31_60_DAYS'] | number:'1.3-3' }}</td>
          <td>{{ ageingSummary['61_90_DAYS'] | number:'1.3-3' }}</td>
          <td>{{ ageingSummary['91_120_DAYS'] | number:'1.3-3' }}</td>
          <td>{{ ageingSummary['121_364_DAYS'] | number:'1.3-3' }}</td>
          <td>{{ ageingSummary['ABOVE_1_YEAR'] | number:'1.3-3' }}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <table class="table table-striped table-sm table-bordered" id="soaTable">
      <thead>
        <tr>
          <th>Invoice Date</th>
          <th>Invoice No</th>
          <th>Reference</th>
          <th>Description</th>
          <th>Due Date</th>
          <th class="text-end">Amount</th>
          <th class="text-end">Balance</th>
          <th class="text-end">Days Due</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of soaData">
          <td>{{ row.DocDate | date:'dd-MM-yyyy' }}</td>
          <td>{{ row.DocNum }}</td>
          <td>{{ row.Ref }}</td>
          <td>{{ row.Sub }}</td>
          <td>{{ row.DocDueDate | date:'dd-MM-yyyy' }}</td>
          <td class="text-end">{{ row.DocTotal | number:'1.3-3' }}</td>
          <td class="text-end">{{ row.Balance | number:'1.3-3' }}</td>
          <td class="text-end">
            {{ row['Days Due'] > 0 ? row['Days Due'] + ' overdue' : (row['Days Due'] * -1) + ' left' }}
          </td>
        </tr>
      </tbody>

      <tfoot>
        <tr class="fw-bold text-end">
          <td colspan="5" class="text-start">Total</td>
          <td>{{ totalDebit | number:'1.3-3' }}</td>
          <td>{{ closingBalance | number:'1.3-3' }}</td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <hr>
  <div class="row container-fluid">
    <div class="col-8"></div>
    <div class="col-4">
      <button mat-raised-button class="bg-success text-white btn btn-block" (click)="printCOA()"
        style="float: right" title="print">
        Print Statement Summary
      </button>
    </div>
  </div>
  <br>
</ng-template>
